.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    // margin-top: 50px;
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        padding: 60px 0;
        text-align: center;
        font-size: 12px;
        p {
            margin: 0;
            line-height: 1.6;
            color: white;
        }
        .contact {
            display: inline-block;
            a {
                color: #ccc;
                transition: 0.3s ease;
                &:hover {
                    color: hotpink;
                }
                i {
                    margin: 0 5px;
                    font-size: 20px;
                }
            }
        }
        .description {
            display: inline-block;
        }
        .power {
            a {
                color: hotpink;
                transition: 0.3s ease;
                &:hover {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
@media screen and (max-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}