.page[index] {
    a {
        color: #4eabfdfa;
        transition: 0.3s ease;
        &:hover {
            color: #4c48df;
            animation: neon 0.5s ease-in-out infinite alternate;
            -webkit-animation: neon 0.5s ease-in-out infinite alternate;
        -moz-animation: neon 0.5s ease-in-out infinite alternate;
        }
    }
    .mybody {
      -moz-box-shadow: 0 0 8px black;
      -webkit-box-shadow: 0 0 8px black;
      background: rgba(255, 255, 255, .85);
      box-shadow: 0 0 8px black;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &:hover {
        -moz-box-shadow: 0 0 20px 0 black;
        -webkit-box-shadow: 0 0 20px 0 black;
        box-shadow: 0 0 20px 0 black;
        background-color: rgba(255, 255, 255, 0.92);
      }
  }
    .left {
        width: 75%;
        float: left;
        line-height: 1.6;
        font-size: 16px;
        padding: 0;
        background: no-repeat;
        box-shadow: none;
        a:not([title]) {
            word-break: break-all;
        }
        .item {
            width: 100%;
            min-height: 20px;
            max-height: 400px;
            overflow: hidden;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 5px;
            padding: 7px;
            h2 {
                margin: 0;
            }
            .post-link {
              display: block;
              width: 100%;
              text-align: center;
              font-family: "Comic Sans MS";
            }
            ul, menu, dir {
              display: block;
              list-style-type: disc;
              -webkit-margin-before: 1em;
              -webkit-margin-after: 1em;
              -webkit-margin-start: 0;
              -webkit-margin-end: 0;
              -webkit-padding-start: 40px;
            }
            ul ul, ol ul {
              list-style-type: circle;
            }
            ol ul, ul ol, ul ul, ol ol {
              -webkit-margin-before: 0;
              -webkit-margin-after: 0;
            }
            ul li {
              color: #333;
            }
            .label {
                text-align: center;
                line-height: 24px;
                margin: 10px;
                overflow: hidden;
                .label-card {
                    margin-right: 5px;
                    background-color: rgba(10,10,0,0.7);
                    display: inline;
                    padding: .2em .6em .3em;
                    font-size: 75%;
                    font-weight: bold;
                    line-height: 1;
                    color: #ffffff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25em;
                    .fa {
                        margin-right: 5px;
                    }
                    a {
                        color: white;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
            .excerpt {
                > p {
                    margin-bottom: 18px;
                    > img {
                        display: block;
                        width: 100%;
                        margin:0 auto;
                        border-radius: 4px;
                    }
                }
            }
            .read-all {
                text-align: right;
                font-size: 16px;
                margin: 20px 0;
                a {
                    color: #778ab0;
                    transition: 0.2s ease;
                    &:hover {
                        color: #5872a7;
                    }
                    i {
                        padding-right: 3px;
                    }
                }
            }
        }
    }
    .pagination {
        text-align: center;
        border-radius: 5px;
        .previous,
        .next {
            font-size: 20px;
            padding: 0 5px;
        }
        .page_number {
            padding: 0 5px;
        }
        .disable {
            color: #cbcbcb;
        }
    }
    .right {
        .wrap {
            .side {
                margin-bottom: 20px;
                padding-bottom: 0;
                i {
                    margin-right: 3px;
                }
                .content-ul[cate] {
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        font-size: 14px;
                        a {
                            display: block;
                            width: 100%;
                            padding: 2px 0;
                            border-bottom: 1px solid #eee;
                            &:hover {
                                background-color: #dbdfee;
                                .badge {
                                    background-color: #dbdfee;
                                    transform: scale(1.2) rotate(360deg);
                                }
                            }
                            .name {
                                padding-left: 15px;
                            }
                            .badge {
                                display: block;
                                float: right;
                                text-align: center;
                                margin-right: 15px;
                                margin-top: 3px;
                                padding: 0 10px;
                                font-size: 12px;
                                color: #fff;
                                background-color: #bbb;
                                border-radius: 50%;
                                transition: 0.5s ease-in-out;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                        }
                    }
                }
                .content-ul[recent]{
                    padding-bottom: 16px;
                    li{
                        color:#aaa;
                        font-size: 14px;
                    }
                }
                .tags-cloud {
                    font-weight: normal;
                    a {
                        padding: 0 3px;
                        border-radius: 5px;
                        &:hover {
                            background-color: #f0e7ce;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
  .page[index]  {
    width: 95%;
    .left {
      width: 100%;
      float: left;
      padding: 0;
      font-size: 14px;
      >h1 {
        font-size: 25px;
        margin-bottom: -10px;
      }
      ul {
        padding-left: 20px;
        >h2 {
          font-size: 20px;

          // margin: 0;
          margin-left: -20px;
        }
        li {
          margin: 20px 0;
          time {
            display: block;
            width: auto;
          }
          .title {
            display: block;
            font-size: 16px;
          }
          .categories {
            font-size: 12px;
            padding-left: 0;
            padding-right: 10px;
          }
        }
      }
    }
    .anchor {
      display: block;
      visibility: visible;
      position: fixed;
      top: 76px;
      right: 2.5%;
      padding: 5px 10px;
      color: #333;
      font-size: 15px;
      background-color: #f8f8fd;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
      opacity: 0.7;
      transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    }
    .anchor-hide {
      opacity: 0;
      visibility: hidden;
    }
    .right {
      visibility: hidden;

      // display: none;
      position: fixed;

      // z-index: 190;
      float: none;
      width: auto;
      max-width: 95%;
      padding: 0;
      top: 76px;
      right: 2.5%;
      opacity: 0;
      transform-origin: 100% 0;
      transform: scale(0.1);
      transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    }
    .right-show {
      z-index: 999;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      .content-ul{
        margin-bottom: 0;
        >li:last-of-type{
          margin-bottom: 16px;
        }
      }
    }
  }
}
